<article class="entry entry--summary event <%= "event--has-weather" if is_featured?(event) %>" id="event-<%= event.sys.id.parameterize %>" aria-labelledby="hed-<%= event.sys.id.parameterize %>">
  <div class="event__inner">
    <header class="entry__header">
      <p class="entry__meta">
        <%= event_timestamp_tag(event) %>
        <span><%= icon_svg("classic", "light", "location-dot") %> <%= format_location(event.location) %></span>
      </p>
      <h4 class="entry__hed" id="hed-<%= event.sys.id.parameterize %>">
        <% if event.url.present? %>
          <%= link_to smartypants(event.title), event.url, rel: "noopener", target: "_blank" %>
        <% else %>
          <%= smartypants(event.title) %>
        <% end %>
      </h4>
    </header>
    <div class="entry__body event__description">
      <% if is_featured?(event) %>
        <%= render_body(event.description.present? ? event.description : event.summary) %>
      <% else %>
        <%= render_body(event.summary) %>
      <% end %>
    </div>
    <% if is_featured?(event) && event_race_reports(event).any? %>
      <div class="entry__meta entry__meta--row entry__meta--separators">
        <% reports = event_race_reports(event) %>
        <span class="entry__meta-highlight">Race Reports</span> <%= reports.group_by { |report| DateTime.parse(report.published_at).year }.sort.reverse.map { |year, reports| link_to year, reports.first.path }.join('') %>
      </div>
    <% end %>
    
  </div>
  <% if is_featured?(event) %>
    <%= partial 'partials/event_weather', locals: { event: event } %>
  <% end %>
</article>
