<!doctype html>
<html lang="en" data-controller="page" data-action="turbo:load->page#load turbo:before-cache->page#resetBody">
  <%= partial 'partials/head' %>
  <body>
    <%= partial 'partials/skip' %>
    <div class="content">
      <%= partial 'partials/header' %>
      <main class="content__main" id="main-content">
        <%= yield %>
      </main>
    </div>
    <%= partial 'partials/footer' %>
    <%= partial 'partials/notifications' %>
  </body>
</html>
