<!doctype html>
<html lang="en">
  <%= partial 'partials/head' %>
  <body>
    <%= partial 'partials/skip' %>
    <div class="content">
      <%= partial 'partials/header' %>
      <div class="content__primary" id="main-content" aria-labelledby="hed">
        <%= yield %>
      </div>
    </div>
    <%= partial 'partials/footer' %>
  </body>
</html>
