<div
  class="comments"
  id="comments"
  data-controller="comments"
  data-comments-author-did-value="<%= article.author.bluesky_did %>"
  data-comments-url-value="<%= article.bluesky_comments_url %>"
  data-comments-at-uri-value="<%= article.bluesky_comments_at_uri %>"
  data-comments-depth-value="<%= ENV.fetch('BLUESKY_COMMENTS_DEPTH', 6) %>"
  data-comments-parent-height-value="<%= ENV.fetch('BLUESKY_COMMENTS_HEIGHT', 1000) %>"
  data-comments-sort-value="<%= ENV.fetch('BLUESKY_COMMENTS_SORT', 'likes').strip.downcase %>"
  data-comments-prompt-value="<%= article.comments_prompt %>"
>
  <h3 class="comments__heading" data-comments-target="heading">Comments</h3>

  <div class="comments__spinner" data-comments-target="spinner">
    <%= icon_svg "classic", "solid", "circle-notch" %>
  </div>

  <script data-comments-target="introTemplate" type="text/x-handlebars-template">
    <p>
      {{#if error}}
        {{{error}}}
      {{else}}
        {{{prompt}}} <a href="{{postUrl}}" target="_blank" rel="noreferrer noopener nofollow">Reply on Bluesky</a> to {{verb}} the conversation.
      {{/if}}
    </p>
  </script>

  <script data-comments-target="commentTemplate" type="text/x-handlebars-template">
    <article class="comments__comment comments__comment--depth-{{depth}}">
      {{#if avatar}}
      <a href="{{authorProfileLink}}" class="comments__avatar-link" target="_blank" rel="noreferrer noopener nofollow">
        <img class="comments__avatar" src="{{avatar}}" alt="{{displayName}}’s avatar">
      </a>
      {{/if}}
      <div class="comments__content">
        <div class="comments__header">
          <a class="comments__author-link" href="{{authorProfileLink}}" target="_blank" rel="noreferrer noopener nofollow">
            <span class="comments__author-name">
              {{displayName}}
              {{#if isAuthor}}
                <%= icon_svg "classic", "solid", "shield-check" %>
              {{/if}}
            </span>
            @{{handle}}
          </a>
          <a class="comments__timestamp" href="{{postLink}}" target="_blank" rel="noreferrer noopener nofollow" title="{{timestamp}}">{{relativeTimestamp}}</a>
        </div>
        <p class="comments__text">{{text}}</p>
        <div class="comments__meta">
          <span class="comments__meta-item" title="{{likeCount}} {{pluralize likeCount "like" "likes"}}"><%= icon_svg "classic", "regular", "heart" %> {{likeCount}}</span>
          <span class="comments__meta-item" title="{{repostCount}} {{pluralize repostCount "repost" "reposts"}}"><%= icon_svg "classic", "regular", "retweet" %> {{repostCount}}</span>
          <span class="comments__meta-item"><a href="{{postLink}}" target="_blank" rel="noreferrer noopener nofollow"><%= icon_svg "classic", "regular", "comment" %> Reply</a></span>
          {{#if seeMoreComments}}
            <span class="comments__meta-item comments__meta-item--more"><a href="{{postLink}}" target="_blank" rel="noreferrer noopener nofollow">Read {{replyCount}} more {{pluralize replyCount "reply" "replies"}} on Bluesky <%= icon_svg "classic", "regular", "arrow-right" %></a></span>
          {{/if}}
        </div>
      </div>
    </article>
  </script>
</div>
