<div
  class="comments"
  id="comments"
  data-controller="comments"
  data-comments-author-handle-value="<%= article&.author&.bluesky&.gsub(/^@/, '') %>"
  data-comments-url-value="<%= ENV['BLUESKY_COMMENTS_DEBUG_URL'] || article.bluesky_comments_url %>"
  data-comments-depth-value="<%= ENV.fetch('BLUESKY_COMMENTS_DEPTH', 6) %>"
  data-comments-parent-height-value="<%= ENV.fetch('BLUESKY_COMMENTS_HEIGHT', 1000) %>"
  data-comments-sort-value="<%= ENV.fetch('BLUESKY_COMMENTS_SORT', 'likes').strip.downcase %>"
>
  <h3 class="comments__heading" data-comments-target="heading">Comments</h3>
  <div class="comments__intro" data-comments-target="intro">
    <p><%= smartypants article.comments_prompt %> <a href="<%= article.bluesky_comments_url %>" target="_blank" rel="noopener me">Discuss this <%= article.entry_type == 'Short' ? 'post' : content.entry_type.downcase %> on Bluesky</a>.</p>
  </div>
  <div class="comments__spinner" data-comments-target="spinner">
    <%= icon_svg "classic", "solid", "circle-notch" %>
  </div>

  <div class="comments__container" data-comments-target="container"></div>

  <script data-comments-target="commentTemplate" type="text/x-handlebars-template">
    <article class="comments__comment comments__comment--depth-{{depth}}">
      {{#if avatar}}
      <a href="{{authorProfileUrl}}" class="comments__avatar-link" target="_blank" rel="noopener {{#if isAuthor}}me{{else}}nofollow{{/if}}">
        <img class="comments__avatar" src="{{avatar}}" alt="{{displayName}}’s avatar">
      </a>
      {{/if}}
      <div class="comments__content">
        <div class="comments__header">
          <a class="comments__author-link" href="{{authorProfileUrl}}" target="_blank" rel="noopener {{#if isAuthor}}me{{else}}nofollow{{/if}}">
            <span class="comments__author-name">
              {{displayName}}
              {{#if isAuthor}}
                <%= icon_svg "classic", "solid", "badge-check" %>
              {{/if}}
            </span>
            @{{handle}}
          </a>
          <span class="comments__separator">•</span>
          <a class="comments__timestamp" href="{{postUrl}}" target="_blank" rel="noopener {{#if isAuthor}}me{{else}}nofollow{{/if}}" title="{{formattedDate}}">{{formattedDate}}</a>
        </div>
        <div class="comments__text"><p>{{{text}}}<p></div>
        <div class="comments__meta">
          <span class="comments__meta-item" title="{{formatNumber likeCount}} {{pluralize likeCount "like" "likes"}}"><%= icon_svg "classic", "regular", "heart" %> {{formatNumber likeCount}}</span>
          <span class="comments__meta-item" title="{{formatNumber repostCount}} {{pluralize repostCount "repost" "reposts"}}"><%= icon_svg "classic", "regular", "retweet" %> {{formatNumber repostCount}}</span>
          <span class="comments__meta-item"><a href="{{postUrl}}" target="_blank" rel="noopener {{#if isAuthor}}me{{else}}nofollow{{/if}}"><%= icon_svg "classic", "regular", "comment" %> Reply</a></span>
          {{#if seeMoreComments}}
            <span class="comments__meta-item comments__meta-item--more"><a href="{{postUrl}}" target="_blank" rel="noopener {{#if isAuthor}}me{{else}}nofollow{{/if}}">Continue thread on Bluesky</a></span>
          {{/if}}
        </div>
      </div>
    </article>
  </script>
</div>
