<article class="entry entry--compact" id="main-content" aria-labelledby="hed-<%= entry.sys.id.parameterize %>">
  <header class="entry__header">
      <p class="entry__meta">
        <% if entry.draft %>
          <span class="entry__draft">Draft</span>
        <% end %>
        <span><%= link_to DateTime.parse(entry.published_at).strftime('%A, %B %-e, %Y'), entry.path %></span>
        <% if entry.contentfulMetadata.tags.present? %>
          <span><%= entry.contentfulMetadata.tags.sort { |a, b| a.name <=> b.name }.map { |t| link_to t.name, "/tagged/#{t.id}/index.html" }.join(', ') %></span>
        <% end %>
      </p>
    <h2 id="hed-<%= entry.sys.id.parameterize %>">
      <% if is_affiliate_link?(entry.linkUrl) %>
        <%= link_to smartypants(entry.title), entry.linkUrl, rel: "sponsored nofollow" %>
      <% else %>
        <%= link_to smartypants(entry.title), entry.linkUrl.presence || entry.path %>
      <% end %>
    </h2>
  </header>
  <main class="entry__body">
    <%= render_body(entry.intro) %>
    <%= link_to "Read more", entry.path, class: "entry__read-more" %>
  </main>
  <hr class="entry__separator">
</article>
