<article class="entry entry--compact entry--summary" aria-labelledby="hed-<%= event.sys.id.parameterize %>">
  <header class="entry__header">
    <p class="entry__meta">
      <span><%= DateTime.parse(event.date).strftime('%A, %B %-e, %Y') %></span>
      <span><%= remove_widows(event.location) %></span>
    </p>
    <h4 class="entry__hed" id="hed-<%= event.sys.id.parameterize %>">
      <%= link_to smartypants(remove_widows(event.title)), event.url, rel: "noopener", target: "_blank" %>
    </h4>
  </header>
  <% if event.description.present? %>
    <div class="entry__body">
      <%= render_body(event.description) %>
    </div>
  <% end %>
</article>
