<article class="entry entry--summary" aria-labelledby="hed-<%= event.sys.id.parameterize %>">
  <header class="entry__header">
    <p class="entry__meta entry__meta--truncated">
      <% if event.canceled %>
        <span class="entry__highlight">Canceled</span>
      <% elsif is_today?(event.date) %>
        <span class="entry__highlight">Today</span>
      <% else %>
        <span><%= Time.parse(event.date).strftime('%B %-e, %Y') %></span>
      <% end %>
      <span><%= event.location %></span>
    </p>
    <h4 class="entry__hed" id="hed-<%= event.sys.id.parameterize %>">
      <%= link_to smartypants(event.title), event.url, rel: "noopener", target: "_blank" %>
    </h4>
  </header>
  <% if event.description.present? %>
    <div class="entry__body">
      <%= render_body(event.description) %>
    </div>
  <% end %>
</article>
