<article class="entry entry--summary" id="event-<%= event.sys.id.parameterize %>" aria-labelledby="hed-<%= event.sys.id.parameterize %>">
  <header class="entry__header">
    <p class="entry__meta entry__meta--truncated">
      <% if is_today?(event) %>
        <% if is_daytime? && event.tracking_url.present? %>
          <span class="entry__highlight entry__highlight--live"><%= icon_svg("classic", "solid", "circle-small") %> <%= link_to "Live results", event.tracking_url, rel: "noopener", target: "_blank" %></span>
          <span><%= icon_svg("classic", "light", "calendar-check") %> Today</span>
        <% elsif is_daytime? %>
          <span class="entry__highlight"><%= icon_svg("classic", "regular", "calendar-check") %> Today</span>
        <% else %>
          <span><%= icon_svg("classic", "light", "calendar-check") %> Today</span>
        <% end %>
      <% else %>
        <span><%= icon_svg("classic", "light", "calendar") %> <%= DateTime.parse(event.date).strftime('%B %-e, %Y') %></span>
      <% end %>
      <span><%= icon_svg("classic", "light", "location-dot") %> <%= event.location %></span>
    </p>
    <h4 class="entry__hed" id="hed-<%= event.sys.id.parameterize %>">
      <% if event.url.present? %>
        <%= link_to smartypants(remove_widows(event.title)), event.url, rel: "noopener", target: "_blank" %>
      <% else %>
        <%= smartypants(remove_widows(event.title)) %>
      <% end %>
    </h4>
  </header>
  <% if event.description.present? %>
    <div class="entry__body">
      <%= render_body(event.description) %>
    </div>
  <% end %>
</article>
