<section class="event__weather" aria-labelledby="weather-hed-<%= event.sys.id.parameterize %>">
  <h5 class="event__weather-heading" id="weather-hed-<%= event.sys.id.parameterize %>"><% if is_today?(event) %>Today’s Weather<% else %>Race Day Weather<% end %></h5>
  <div class="event__weather-stats">
    <div class="event__weather-stat-group">
      <span class="event__weather-stat"><span class="sr-only">Conditions:</span> <%= icon_svg("classic", "light", weather_icon(event.weather.daytime_forecast.condition_code, :day)) %> <%= format_condition(event.weather.daytime_forecast.condition_code) %></span>
    </div>
    <% if event.weather.daytime_forecast.temperature_min.present? || event.weather.daytime_forecast.temperature_max.present? %>
      <div class="event__weather-stat-group">
        <span class="event__weather-stat" title="Low">
          <span class="sr-only">Low:</span>
          <%= icon_svg("classic", "light", "temperature-low") %> 
          <%= format_temperature(event.weather.daytime_forecast.temperature_min) %>
        </span>
        <span class="event__weather-stat" title="High">
          <span class="sr-only">High:</span>
          <%= icon_svg("classic", "light", "temperature-high") %> 
          <%= format_temperature(event.weather.daytime_forecast.temperature_max) %>
        </span>
      </div>
    <% end %>
    <% if event.weather.daytime_forecast.humidity.present? || event.weather.daytime_forecast.precipitation_chance.present? %>
      <div class="event__weather-stat-group">
        <% if event.weather.daytime_forecast.humidity.present? %>
          <span class="event__weather-stat" title="Humidity">
            <span class="sr-only">Humidity:</span>
            <%= icon_svg("classic", "light", "droplet-percent") %>
            <%= number_to_percentage(event.weather.daytime_forecast.humidity * 100, precision: 0) %>
          </span>
        <% end %>
        <% if event.weather.daytime_forecast.precipitation_chance.present? %>
          <span class="event__weather-stat" title="Chance of precipitation">
            <span class="sr-only">Chance of precipitation:</span>
            <%= icon_svg("classic", "light", "raindrops") %> <%= number_to_percentage(event.weather.daytime_forecast.precipitation_chance * 100, precision: 0) %></span>
        <% end %>
      </div>
    <% end %>
    <% if event.weather.daytime_forecast.wind_speed.present? && event.weather.daytime_forecast.wind_direction.present? %>
      <div class="event__weather-stat-group">
        <span class="event__weather-stat" title="Wind speed">
          <%= icon_svg("classic", "light", wind_direction_icon(event.weather.daytime_forecast.wind_direction)) %>
          <span class="sr-only">Wind:</span> <%= format_wind_speed(event.weather.daytime_forecast.wind_speed) %>
          <span class="sr-only"><%= wind_direction(event.weather.daytime_forecast.wind_direction) %></span>
          <% if show_gusts?(event.weather.daytime_forecast.wind_speed, event.weather.daytime_forecast.wind_gust_speed_max) %>, with <%= format_wind_speed(event.weather.daytime_forecast.wind_gust_speed_max) %> gusts<% end %>
        </span>
      </div>
    <% end %>
    <% if event.weather.aqi.present? || event.weather.pollen_category.present? %>
      <div class="event__weather-stat-group">
        <% if event.weather.aqi.present? && event.weather.aqi_condition.present? %>
          <span class="event__weather-stat" title="Air Quality Index"><span class="sr-only">Air Quality Index:</span> <%= icon_svg("classic", "light", "smog") %> <abbr title="Air Quality Index">AQI</abbr> <%= event.weather.aqi %></span>
        <% end %>
        <% if event.weather.pollen_category.present? %>
          <span class="event__weather-stat"><%= icon_svg("classic", "light", "leaf") %> <%= event.weather.pollen_category %> Pollen</span>
        <% end %>
      </div>
    <% end %>
    <% if event.weather.sunrise.present? || event.weather.sunset.present? %>
      <div class="event__weather-stat-group">
        <% if event.weather.sunrise.present? && event.time_zone.present? %>
          <span class="event__weather-stat" title="Sunrise"><span class="sr-only">Sunrise:</span> <%= icon_svg("classic", "light", "sunrise") %> <%= Time.parse(event.weather.sunrise).in_time_zone(event.time_zone).strftime("%I:%M %p").gsub(/(am|pm)/i, "<abbr>\\1</abbr>") %></span>
        <% end %>
        <% if event.weather.sunset.present? && event.time_zone.present? %>
          <span class="event__weather-stat" title="Sunset"><span class="sr-only">Sunset:</span> <%= icon_svg("classic", "light", "sunset") %> <%= Time.parse(event.weather.sunset).in_time_zone(event.time_zone).strftime("%I:%M %p").gsub(/(am|pm)/i, "<abbr>\\1</abbr>") %></span>
        <% end %>
      </div>
    <% end %>  
    <% if event.elevation.present? %>
      <div class="event__weather-stat-group">
        <span class="event__weather-stat" title="Elevation"><span class="sr-only">Elevation:</span> <%= icon_svg("classic", "light", "mountains") %> <%= format_elevation(event.elevation, true) %></span>
      </div>
    <% end %>
  </div>
</section>
