<footer class="footer" id="footer">
  <div class="footer__wrapper">
    <a href="/" class="footer__logo-link" aria-label="<%= data.site.title %>">
      <%= partial 'partials/logo.svg.erb' %>
    </a>

    <% socials = data.site.socials_collection.items.compact %>
    <% if socials.present? %>
      <ul class="footer__socials">
        <% socials.each do |i| %>
          <li class="footer__social-item"><%= social_media_link(title: i.title, destination: i.destination, css_class: "share__button", open_in_new_tab: i.open_in_new_tab) %></li>
        <% end %>
      </ul>
    <% end %>

    <hr class="footer__line">

    <p class="footer__blurb"><%= smartypants(data.site.blurb) %></p>

    <% menu_items = data.site.footer_links_collection.items.compact %>
    <% if menu_items.present? %>
      <ul class="footer__menu">
        <% menu_items.each do |i| %>
          <li class="footer__menu-item">
            <% if i.open_in_new_tab %>
              <%= link_to i.title, i.destination, rel: "noopener", target: "_blank" %>
            <% else %>
              <%= link_to i.title, i.destination %>
            <% end %>
          </li>
        <% end %>
        <li class="footer__menu-item"><a href="#top" data-controller="back-to-top" data-action="click->back-to-top#go">Back to top</a></li>
      </ul>
    <% end %>

    <p class="footer__copyright">© <%= copyright_years %> <%= data.site.copyright %></p>
  </div>
</footer>
