<footer class="footer">
  <div class="footer__wrapper">
    <section class="footer__avatar">
      <picture>
        <% data.srcsets.avatar.formats.each do |format| %>
          <%= source_tag(data.site.author.profilePicture.url, sizes: data.srcsets.avatar.sizes.join(', '), type: "image/#{format}", format: format, widths: data.srcsets.avatar.widths.sort) %>
        <% end %>
        <img src="<%= data.site.author.profilePicture.url %>" alt="<%= data.site.author.profilePicture.description %>" width="<%= data.site.author.profilePicture.width %>" height="<%= data.site.author.profilePicture.height %>" loading="lazy" decoding="async">
      </picture>
    </section>

    <section class="footer__blurb">
      <%= render_body(data.site.blurb) %>
    </section>

      <% menu_items = data.site.footerLinksCollection.items.compact  %>
      <% if menu_items.present? %>
        <section class="footer__section">
          <h2>Links</h2>
          <ul>
            <% menu_items.each do |i| %>
              <li>
                <% if i.openInNewTab %>
                  <%= link_to i.title, i.destination, rel: "noopener", target: "_blank" %>
                <% else %>
                  <%= link_to i.title, i.destination %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </section>
      <% end %>

      <% socials = data.site.socialsCollection.items.compact %>
      <% if socials.present? %>
        <section class="footer__section">
          <h2>Elsewhere</h2>
          <ul>
            <% socials.each do |i| %>
              <li>
                <% if i.openInNewTab %>
                  <%= link_to i.title, i.destination, rel: "me noopener", target: "_blank" %>
                <% else %>
                  <%= link_to i.title, i.destination, rel: "me noopener" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </section>
      <% end %>

      <section class="footer__section">
        <h2>© <%= data.articles.reject(&:draft).map { |a| DateTime.parse(a.published_at) }.min.strftime('%Y') %>–<%= Time.now.strftime('%Y') %></h2>
        <p><%= data.site.copyright %></p>
      </section>
  </div>
</footer>
