<footer class="footer" id="footer">
  <div class="footer__wrapper">
    <section class="footer__avatar">
      <picture>
        <% data.srcsets.avatar.formats.each do |format| %>
          <%= source_tag(data.site.author.profile_picture.url, sizes: data.srcsets.avatar.sizes.join(', '), type: "image/#{format}", format: format, widths: data.srcsets.avatar.widths.sort) %>
        <% end %>
        <img src="<%= cdn_image_url(data.site.author.profile_picture.url) %>" alt="<%= data.site.author.profile_picture.description %>" width="<%= data.site.author.profile_picture.width %>" height="<%= data.site.author.profile_picture.height %>" loading="lazy" decoding="async">
      </picture>
    </section>

    <section class="footer__blurb">
      <%= render_body(data.site.blurb) %>
    </section>

      <% menu_items = data.site.footer_links_collection.items.compact  %>
      <% if menu_items.present? %>
        <section class="footer__section">
          <h2>Links</h2>
          <ul>
            <% menu_items.each do |i| %>
              <li>
                <% if i.destination.end_with?('.xml') %>
                  <%= link_to i.title, i.destination, "data-controller": "clipboard", "data-clipboard-target": "button", "data-action": "click->clipboard#preventDefault", "data-clipboard-success-message-value": "The link to the feed has been copied to your clipboard!" %>
                <% elsif i.open_in_new_tab %>
                  <%= link_to i.title, i.destination, rel: "noopener", target: "_blank" %>
                <% else %>
                  <%= link_to i.title, i.destination %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </section>
      <% end %>

      <% socials = data.site.socials_collection.items.compact %>
      <% if socials.present? %>
        <section class="footer__section">
          <h2>Elsewhere</h2>
          <ul>
            <% socials.each do |i| %>
              <li>
                <% if i.open_in_new_tab %>
                  <%= link_to i.title, i.destination, rel: "me noopener", target: "_blank" %>
                <% else %>
                  <%= link_to i.title, i.destination, rel: "me noopener" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </section>
      <% end %>

      <section class="footer__section">
        <h2>© <%= copyright_years %></h2>
        <p><%= data.site.copyright %></p>
      </section>
  </div>
</footer>
