<% if items.present? %>
  <nav class="nav" id="nav" data-controller="nav" data-nav-open-class="has-nav-open" data-action="turbo:before-cache@document->nav#closeNav">
    <ol class="nav__list">
    <% items.each do |i| %>
      <li class="nav__item">
        <% if i.title.downcase == 'feed' %>
          <%= link_to i.title, i.destination, "data-controller": "clipboard", "data-clipboard-success-message-value": "The link to the feed has been copied to your clipboard.", "data-action": "click->clipboard#preventDefault" %>
        <% elsif i.open_in_new_tab %>
          <%= link_to i.title, i.destination, rel: "noopener", target: "_blank" %>
        <% else %>
          <%= link_to i.title, i.destination %>
        <% end %>
      </li>
    <% end %>
    </ol>
    <button id="nav-button" aria-expanded="false" aria-label="Open menu" aria-controls="nav-menu" class="nav__hamburger" data-nav-target="button" data-action="click->nav#toggleNav">
      <span class="nav__hamburger-closed" aria-hidden="true">
        <%= icon_svg "classic", "light", "bars" %>
      </span>
      <span class="nav__hamburger-open" aria-hidden="true">
        <%= icon_svg "classic", "light", "xmark" %>
      </span>
    </button>
  </nav>
<% end %>
