<div class="share">
  <button class="share__button --is-hidden" data-controller="share" data-action="share#share">
    <%= partial "icons/solid/arrow-up-from-bracket.svg" %>
  </button>

  <a class="share__button" href="https://www.facebook.com/sharer/sharer.php?u=<%= ERB::Util.url_encode full_url(article.path) %>" rel="noopener nofollow" target="_blank">
    <%= partial "icons/brands/facebook-f.svg" %>
  </a>

  <a class="share__button" href="https://linkedin.com/shareArticle?title=<%= ERB::Util.url_encode og_title(article) %>&url=<%= ERB::Util.url_encode full_url(article.path) %>" rel="noopener nofollow" target="_blank">
    <%= partial "icons/brands/linkedin-in.svg" %>
  </a>

  <a class="share__button" href="https://reddit.com/submit?title=<%= ERB::Util.url_encode og_title(article) %>&url=<%= ERB::Util.url_encode full_url(article.path) %>" rel="noopener nofollow" target="_blank">
    <%= partial "icons/brands/reddit-alien.svg" %>
  </a>

  <a class="share__button" href="mailto:?subject=<%= ERB::Util.url_encode og_title(article) %>&body=<%= ERB::Util.url_encode full_url(article.path) %>">
    <%= partial "icons/solid/envelope.svg" %>
  </a>
</div>
