<div class="share" id="share">
  <h3 class="share__heading">Share This Article</h3>

  <div class="share__buttons">
      <button aria-label="Open sharing options" title="Open sharing options" class="share__button --is-hidden" data-controller="share" data-share-text-value="<%= sanitize(article.title) %>" data-share-url-value="<%= full_url(article.path, { ref: 'Share Button' }) %>" data-share-is-native-value="true" data-action="click->share#openShareSheet" data-share-hidden-class="--is-hidden">
        <%= icon_svg("classic", "solid", "arrow-up-from-bracket") %>
      </button>

      <a aria-label="Share by email" title="Share by email" class="share__button" href="<%= mail_share_url(article) %>">
        <%= icon_svg("classic", "solid", "envelope") %>
      </a>

      <a aria-label="Share by text message" title="Share by text message" class="share__button" href="<%= sms_share_url(article) %>">
        <%= icon_svg("classic", "solid", "comment") %>
      </a>

      <a aria-label="Share on Bluesky" title="Share on Bluesky" class="share__button" href="<%= bluesky_share_url(article) %>" rel="noopener nofollow" target="_blank">        
        <svg width="360" height="320" viewBox="0 0 360 320" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M254.896 184.158C252.81 183.926 250.733 183.645 248.671 183.315C250.773 183.574 252.849 183.855 254.896 184.158Z" fill="black"/>
        <path d="M180 141.964C163.699 110.262 119.308 51.1817 78.0347 22.044C38.4971 -5.86834 23.414 -1.03207 13.526 3.43594C2.08093 8.60755 0 26.1785 0 36.5164C0 46.8542 5.66748 121.272 9.36416 133.694C21.5786 174.738 65.0603 188.607 105.104 184.156C107.151 183.852 109.227 183.572 111.329 183.312C109.267 183.642 107.19 183.924 105.104 184.156C46.4204 192.847 -5.69621 214.233 62.6582 290.33C137.848 368.18 165.705 273.637 180 225.702C194.295 273.637 210.76 364.771 295.995 290.33C360 225.702 313.58 192.85 254.896 184.158C252.81 183.926 250.733 183.645 248.671 183.315C250.773 183.574 252.849 183.855 254.896 184.158C294.94 188.61 338.421 174.74 350.636 133.697C354.333 121.275 360 46.8568 360 36.519C360 26.1811 357.919 8.61012 346.474 3.43851C336.586 -1.02949 321.503 -5.86576 281.965 22.0466C240.692 51.1843 196.301 110.262 180 141.964Z" fill="black"/>
        </svg>
      </a>

      <a aria-label="Share on Facebook" title="Share on Facebook" class="share__button" data-controller="share" data-action="click->share#openPopup" href="<%= facebook_share_url(article) %>" rel="noopener nofollow" target="_blank">
        <%= icon_svg("classic", "brands", "facebook-f") %>
      </a>

      <a aria-label="Save to Pocket" title="Save to Pocket" class="share__button" href="<%= pocket_save_url(article) %>" rel="noopener nofollow" target="_blank">
        <%= icon_svg("classic", "brands", "get-pocket") %>
      </a>

      <a aria-label="Share on Reddit" title="Share on Reddit" class="share__button" href="<%= reddit_share_url(article) %>" rel="noopener nofollow" target="_blank">
        <%= icon_svg("classic", "brands", "reddit-alien") %>
      </a>

      <a aria-label="Share on Threads" title="Share on Threads" class="share__button" href="<%= threads_share_url(article) %>" rel="noopener nofollow" target="_blank">
        <%= icon_svg("classic", "brands", "threads") %>
      </a>
  </div>
</div>
