<aside class="sidebar">

  <section class="sidebar__section sidebar__section--full">
    <picture>
      <% ["avif", "webp", "jpg"].each do |format| %>
        <%= source_tag(data.site.author.profilePicture.url, sizes: '(min-width: 768px) 96px, 48px', type: "image/#{format}", format: format, widths: [48, 96, 144]) %>
      <% end %>
      <img src="<%= data.site.author.profilePicture.url %>" alt="<%= data.site.author.profilePicture.title %>" width="<%= data.site.author.profilePicture.width %>" height="<%= data.site.author.profilePicture.height %>" loading="eager" decoding="async" class="sidebar__avatar" >
    </picture>

    <%= render_body(data.site.blurb) %>
  </section>

  <% menu_items = data.site.navigationCollection.items.compact  %>
  <% if menu_items.present? %>
    <section class="sidebar__section">
      <h2>Links</h2>
      <ul>
        <% menu_items.each do |i| %>
          <li><%= link_to i.title, i.destination %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% socials = data.site.socialsCollection.items.compact %>
  <% if socials.present? %>
    <section class="sidebar__section">
      <h2>Elsewhere</h2>
      <ul>
        <% socials.each do |i| %>
          <li><%= link_to i.title, i.destination, rel: "me noopener", target: "_blank" %></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <section class="sidebar__section">
    <h2>© <%= data.articles.reject(&:draft).map { |a| DateTime.parse(a.published_at) }.min.strftime('%Y') %>–<%= Time.now.strftime('%Y') %></h2>
    <p><%= data.site.copyright %></p>
  </section>
</aside>
