<aside class="sidebar">

  <section class="sidebar__section sidebar__section--full">
    <picture>
      <% ["avif", "webp", "jpg"].each do |format| %>
        <%= source_tag(data.site.author.profilePicture.url, sizes: '(min-width: 768px) 96px, 48px', type: "image/#{format}", format: format, widths: [48, 96, 144]) %>
      <% end %>
      <img src="<%= data.site.author.profilePicture.url %>" alt="<%= data.site.author.profilePicture.title %>" width="<%= data.site.author.profilePicture.width %>" height="<%= data.site.author.profilePicture.height %>" loading="eager" decoding="async" class="sidebar__avatar" >
    </picture>

    <%= render_body(data.site.blurb) %>
  </section>

  <section class="sidebar__section">
    <h2>Links</h2>
    <ul>
      <% pages = data.site.navigationCollection.items.compact.map { |p| [p.navigationTitle.presence || p.title, "/#{p.slug}/index.html"] } %>
      <% pages.each do |p| %>
        <li><%= link_to p.first, p.last %></li>
      <% end %>
    </ul>
  </section>

  <section class="sidebar__section">
    <h2>Elsewhere</h2>
    <ul>
      <% if data.site.bluesky.present? %>
        <li><%= link_to "Bluesky", data.site.bluesky, rel: "me noopener", target: "_blank" %></li>
      <% end %>
      <% if data.site.instagram.present? %>
        <li><%= link_to "Instagram", data.site.instagram, rel: "me noopener", target: "_blank" %></li>
      <% end %>
      <% if data.site.mastodon.present? %>
        <li><%= link_to "Mastodon", data.site.mastodon, rel: "me noopener", target: "_blank" %></li>
      <% end %>
      <% if data.site.strava.present? %>
        <li><%= link_to "Strava", data.site.strava, rel: "me noopener", target: "_blank" %></li>
      <% end %>
    </ul>
  </section>

  <section class="sidebar__section">
    <h2>© <%= data.articles.reject(&:draft).map { |a| DateTime.parse(a.published_at) }.min.strftime('%Y') %>–<%= Time.now.strftime('%Y') %></h2>
    <p><%= data.site.copyright %></p>
  </section>
</aside>
