<article class="entry entry--compact" id="entry-<%= article.sys.id.parameterize %>" aria-labelledby="hed-<%= article.sys.id.parameterize %>">
  <header class="entry__header">
    <p class="entry__meta">
      <span><%= link_to DateTime.parse(article.published_at).strftime('%A, %B %-e, %Y'), article.path %></span>
      <% if article.contentfulMetadata.tags.present? %>
        <span><%= article.contentfulMetadata.tags.sort { |a, b| a.name <=> b.name }.map { |t| link_to t.name, "/tagged/#{t.id}/index.html" }.join(', ') %></span>
      <% end %>
    </p>
    <h2 class="entry__hed" id="hed-<%= article.sys.id.parameterize %>">
      <%= link_to smartypants(remove_widows(article.title)), article.path %>
    </h2>
  </header>
  <div class="entry__body">
    <%= render_body(article.intro) %>
    <%= link_to "Continue reading", article.path, class: "entry__read-more" %>
  </div>
</article>
