<article class="entry entry--compact" id="entry-<%= article.sys.id.parameterize %>" aria-labelledby="hed-<%= article.sys.id.parameterize %>">
  <header class="entry__header">
    <%= partial 'partials/article/meta', locals: { article: article } %>
    <h2 class="entry__hed" id="hed-<%= article.sys.id.parameterize %>">
      <%= link_to smartypants(article.title), article.path %>
    </h2>
  </header>
  <div class="entry__body">
    <%= render_body(article.intro) %>
    <%= link_to "Continue reading", article.path, class: "entry__read-more" %>
  </div>
</article>
