<article class="entry entry--full <%= "entry--#{variant}" if defined?(variant) %>" aria-labelledby="hed-<%= article.sys.id.parameterize %>">
  <header class="entry__header">
      <p class="entry__meta">
        <% if article.draft %>
          <span class="entry__draft">Draft</span>
        <% end %>
        <% unless article.entry_type == 'Page' %>
          <span><%= link_to DateTime.parse(article.published_at).strftime('%A, %B %-e, %Y'), article.path %></span>
          <% if article.contentfulMetadata.tags.present? %>
            <span><%= article.contentfulMetadata.tags.sort { |a, b| a.name <=> b.name }.map { |tag| link_to remove_widows(tag.name), "/tagged/#{tag.id}/index.html" }.join(', ') %></span>
          <% end %>
        <% end %>
      </p>
    <h2 class="entry__hed" id="hed-<%= article.sys.id.parameterize %>">
      <%= smartypants(remove_widows(article.title)) %>
    </h2>
  </header>
  <div class="entry__body">
    <%= render_body(article.intro) %>
    <%= render_body(article.body) %>
    <%= partial 'partials/disclosure', locals: { entry: article } %>
  </div>
</article>
