<p class="entry__meta">
  <% if article.draft %>
    <span class="entry__highlight"><%= icon_svg("classic", "regular", "typewriter") %> Draft</span>
  <% end %>
  <span>
    <% if published_today?(article) || article.draft %>
      <%= clock_icon_svg(DateTime.parse(article.published_at)) %>
    <% else %>
      <%= icon_svg("classic", "light", "calendar") %>
    <% end %>
    <%= article_permalink_timestamp(article) %>
  </span>
  <% if article.contentful_metadata.tags.present? %>
    <span>
      <% if article.contentful_metadata.tags.size == 1 %>
        <%= icon_svg("classic", "light", "tag") %>
      <% else %>
        <%= icon_svg("classic", "light", "tags") %>
      <% end %>
      <%= article.contentful_metadata.tags.sort { |a, b| a.name <=> b.name }.map { |tag| link_to tag.name, "/tagged/#{tag.id}/index.html" }.join(', ') %>
    </span>
  <% end %>
</p>
