<article class="entry entry--full entry--page" id="entry-<%= article.sys.id.parameterize %>" aria-labelledby="hed-<%= article.sys.id.parameterize %>">
  <header class="entry__header">      
    <% if article.draft %>
      <p class="entry__meta"><span class="entry__highlight"><%= icon_svg("classic", "regular", "typewriter") %> Draft</span></p>
    <% end %>
    <h2 class="entry__hed" id="hed-<%= article.sys.id.parameterize %>">
      <%= smartypants(article.title) %>
    </h2>
  </header>
  <div class="entry__body">
    <%= render_body(article.intro, image_variant: :full) %>
    <%= render_body(article.body, image_variant: :full) %>
    <%= partial 'partials/disclosure', locals: { entry: article } %>
  </div>
</article>
