<article class="entry entry--compact" id="entry-<%= article.sys.id.parameterize %>">
  <header class="entry__header">
    <p class="entry__meta">
      <span><%= link_to DateTime.parse(article.published_at).strftime('%A, %B %-e, %Y'), article.path %></span>
      <% if article.contentful_metadata.tags.present? %>
        <span><%= article.contentful_metadata.tags.sort { |a, b| a.name <=> b.name }.map { |tag| link_to tag.name, "/tagged/#{tag.id}/index.html" }.join(', ') %></span>
      <% end %>
    </p>
  </header>
  <div class="entry__body">
    <%= prepend_title(smartypants(article.title), render_body(article.intro)) %>
    <%= partial 'partials/disclosure', locals: { entry: article } %>
  </div>
</article>
