<article class="entry entry--summary" id="entry-<%= article.sys.id.parameterize %>" aria-labelledby="hed-<%= article.sys.id.parameterize %>">
  <header class="entry__header">
    <p class="entry__meta">
      <% if new_article?(article) %>
        <span class="entry__highlight"><%= icon_svg("classic", "regular", "sparkles") %> New</span>
      <% end %>
      <span>
        <%= icon_svg("classic", "light", "calendar") %>
        <%= article_permalink_timestamp(article) %>
      </span>
    </p>
    <h4 class="entry__hed" id="hed-<%= article.sys.id.parameterize %>">
      <%= link_to smartypants(article.title), article.path %>
    </h4>
  </header>
  <div class="entry__body">
    <%= render_body(article.summary) %>
  </div>
</article>
