<article class="entry entry--compact entry--summary" aria-labelledby="hed-<%= article.sys.id.parameterize %>">
  <header class="entry__header">
    <p class="entry__meta">
      <span><%= link_to DateTime.parse(article.published_at).strftime('%A, %B %-e, %Y'), article.path %></span>
      <% if article.contentfulMetadata.tags.present? %>
        <span><%= article.contentfulMetadata.tags.sort { |a, b| a.name <=> b.name }.map { |t| link_to remove_widows(t.name), "/tagged/#{t.id}/index.html" }.join(', ') %></span>
      <% end %>
    </p>
    <h4 class="entry__hed" id="hed-<%= article.sys.id.parameterize %>">
      <%= link_to smartypants(remove_widows(article.title)), article.path %>
    </h4>
  </header>
  <div class="entry__body">
    <%= render_body(article.summary) %>
  </div>
</article>
