<article class="entry entry--summary" id="entry-<%= article.sys.id.parameterize %>" aria-labelledby="hed-<%= article.sys.id.parameterize %>" data-trending-score="<%= trending_score(article).round(5) %>" data-recency-score="<%= recency_score(article).round(5) %>">
  <header class="entry__header">
    <p class="entry__meta">
      <span>
        <% if published_today?(article) || article.draft %>
          <%= clock_icon_svg(DateTime.parse(article.published_at)) %>
        <% else %>
          <%= icon_svg("classic", "light", "calendar") %>
        <% end %>
        <%= article_permalink_timestamp(article) %>
      </span>
    </p>
    <h4 class="entry__hed" id="hed-<%= article.sys.id.parameterize %>">
      <%= link_to smartypants(article.title), article.path %>
    </h4>
  </header>
  <div class="entry__body">
    <%= render_body(article.summary) %>
  </div>
</article>
