<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <% articles = recent_articles(count: 100) %>
  <% updated = articles.map { |e| DateTime.parse(e.updated_at) }.max %>
  <id><%= atom_tag(full_url("/index.html"), articles.map { |e| DateTime.parse(e.published_at) }.min) %></id>
  <title type="text"><%=h data.site.title %></title>
  <updated><%= updated.rfc3339 %></updated>
  <link rel="alternate" type="text/html" href="<%= full_url("/index.html", { ref: 'Feed' }) %>"/>
  <link rel="self" type="application/atom+xml" href="<%= full_url("/feed.xml") %>"/>
  <rights>© <%= copyright_years %> <%= data.site.copyright %></rights>
  <% articles.each do |entry| %>
    <entry>
      <% updated = DateTime.parse(entry.updated_at) %>
      <id><%= atom_tag(full_url(entry.path), DateTime.parse(entry.published_at)) %></id>
      <title><%=h sanitize(entry.title, decode_html_entities: true) %></title>
      <link rel="alternate" type="text/html" href="<%= full_url(entry.path, { ref: 'Feed' }) %>"/>
      <published><%= DateTime.parse(entry.published_at).rfc3339 %></published>
      <updated><%= updated.rfc3339 %></updated>
      <author>
        <name><%=h entry.author.name %></name>
      </author>
      <summary><%=h entry.summary %></summary>
      <content type="html">
        <%=h render_feed_body(entry.intro) %>
        <%=h render_feed_body(entry.body) %>
      </content>
      <% if entry.contentful_metadata.tags.present? %>
        <% entry.contentful_metadata.tags.sort { |a, b| a.name <=> b.name }.each do |tag| %>
          <category term="<%=h tag.name %>" />
        <% end %>
      <% end %>
    </entry>
  <% end %>
</feed>
