<div class="home" aria-labelledby="hed">
  <section class="home__intro">
    <h2 class="home__headline" id="hed">
      <%= smartypants(content.title) %>
    </h2>
    <div class="home__body">
      <%= render_home_body(content.body) %>
    </div>
  </section>
  <% if data.intervals.present? %>
    <%= partial 'partials/stats', locals: { stats: data.intervals } %>
  <% end %>
  <% if recent_articles.present? %>
    <%= partial 'partials/collection', locals: { title: "Recent Articles", items: recent_articles, variant: "halves" } %>
  <% end %>
    <% if show_whoop? %>
    <%= partial 'partials/whoop' %>
  <% end %>
  <% if non_recent_trending_articles.present? %>
    <%= partial 'partials/collection', locals: { title: "Trending Articles", items: non_recent_trending_articles, variant: "halves" } %>
  <% end %>
  <% if weather_data_is_current? %>
    <%= partial 'partials/weather' %>
  <% end %>
  <% if data.events.present? %>
    <%= partial 'partials/upcoming_races' %>
  <% end %>
</div>
