<div class="home" aria-labelledby="hed">
  <section class="home__intro">
    <h2 class="home__headline" id="hed">
      <%= smartypants(content.title) %>
    </h2>
    <div class="home__body">
      <%= render_home_body(content.body) %>
    </div>
  </section>
  <% if recent_articles.present? %>
    <%= partial 'partials/collection', locals: { title: "Recent Articles", items: recent_articles, variant: "halves" } %>
  <% end %>
  <% if data.intervals.present? %>
    <%= partial 'partials/stats', locals: { stats: data.intervals } %>
  <% end %>
  <% if trending_articles == recent_articles %>
    <%= partial 'partials/collection', locals: { title: "Most Read Articles", items: most_viewed_articles, variant: "halves" } %>
  <% else %>
    <%= partial 'partials/collection', locals: { title: "Trending Articles", items: trending_articles, variant: "halves" } %>
  <% end %>
  <% if weather_data_is_current? %>
    <%= partial 'partials/weather' %>
  <% end %>
  <% if data.events.present? %>
    <%= partial 'partials/collection', locals: { title: "Upcoming Races", items: upcoming_races, variant: "thirds" } %>
  <% end %>
</div>
