<div class="home" aria-labelledby="hed">
  <section class="home__intro">
    <h2 class="home__headline" id="hed">
      <%= smartypants(remove_widows(content.title)) %>
    </h2>
    <div class="home__body">
      <%= render_home_body(content.body) %>
    </div>
  </section>
  <% if data.strava.stats.present? %>
    <%= partial 'partials/stats', locals: { stats: data.strava.stats } %>
  <% end %>
  <% recent_articles = recent_articles(count: 4) %>
  <% if recent_articles.present? %>
    <%= partial 'partials/collection', locals: { title: "Recent Articles", items: recent_articles, variant: "halves" } %>
  <% end %>
  <% if weather_summary.present? %>
    <%= partial 'partials/weather' %>
  <% end %>
  <% if data.events.present? %>
    <%= partial 'partials/collection', locals: { title: "Upcoming Races", items: upcoming_races, variant: "thirds" } %>
  <% end %>
</div>
